.banner {
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
}
.banner-1 {
    background-image: url("https://cdn.wallpapersafari.com/64/21/Wa5DsN.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-2 {
    background-image: url("https://i.pinimg.com/736x/a9/2c/fa/a92cfa1a6edd12fd96e5b7861711628c.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-3 {
    background-image: url("https://www.shutterbug.com/images/styles/600_wide/public/leicography.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-4 {
    background-image: url("https://elements-video-cover-images-0.imgix.net/files/649bbdaa-a9c3-4f4e-9edb-96805a74bb31/inline_image_preview.jpg?auto=compress%2Cformat&fit=min&h=394&w=700&s=725f464b591359de6534f6fc7575cb19");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}